DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=foodio
DB_SYNCHRONIZE=true
JWT_SECRET=supersecret
ADMIN_EMAIL=admin@foodio.com
ADMIN_PASSWORD=admin123
SEED_INITIAL_DATA=true
PORT=3000
